# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.so.*

/openaprs.pid
/openaprs

/bursts/auth.burst

/logs/*
/contrib

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
stamp-h?

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
.dirstamp
*.o
*~

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

!include/config.h
